VITE_STARTING_HP=100
VITE_DEDUCTED_HP_ON_LOSS=20
VITE_STARTING_COINS=0
VITE_COINS_PER_LEVEL=20
VITE_COINS_ON_COMPLETION=100

VITE_PRICE_HINT=50
VITE_PRICE_SHIELD=100
VITE_PRICE_REVEAL_LETTER=150
VITE_PRICE_LUCKY_SPIN=100
VITE_PRICE_CANDY=300
VITE_PRICE_CHOCOLATE=450
VITE_PRICE_CAKE=600
VITE_PRICE_ARMOR_PLATE=200

VITE_LUCKY_SPIN_COIN_1=70
VITE_LUCKY_SPIN_COIN_2=100
VITE_LUCKY_SPIN_COIN_3=130

VITE_BOSS_TIMER_SECONDS=10
VITE_BOSS_DAMAGE=10
VITE_STARTING_SHIELD=50
VITE_SHIELD_RESTORE_ON_CORRECT=10
VITE_SHIELD_RESTORE_ITEM_VALUE=50
